* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 41px;
}



.hangman {
    max-width: 60%;
    height: auto;
    padding: 20px;
    border: 1px solid #a1a1a1;
    border-radius: 20px;
    box-shadow: 0 0 100px #dddddd;

}

.hangman * {

    visibility: hidden;

}
.hangman .hill{

    stroke-width: 10px;

}

.hangman .structure{
    stroke-width: 8px;
    
}

.hangman .man{
    stroke-width: 5px;
}

.guess-string {
    text-align: center;
    letter-spacing: .2rem;
}

.guess-form{
    display: flex;
    justify-content: center;
    gap:10px;
}

.guess-form input {
    border: 1px solid #a1a1a1;
    border-radius: 15px;
}

.guess-form button {
    background-color: #15B358;
    border: none;
    padding: .5rem 1rem;
    border-radius: 6px;
    box-shadow: 0px 2px 0px 0px #11994b;
    transition: background-color .2s;

}
.guess-form button:hover {
    background-color: #1cba5e;
    cursor: pointer;

}



.guessed-letters {
    letter-spacing: 2rem;
    width: 80%;
    overflow-wrap: break-word;
    text-align: center;
}



.red {
    background-color: rgb(235, 79, 61);
}

.green {
    background-color: rgb(120, 220, 87);

}

@media (min-width: 1250px) {

    
}